body {
  margin: 0;
}

main {
  width: 400vh;
}

header {
  width: 100%;
  display: flex;
}

divImage {
  position: relative;
  z-index: 1;
}

header img {
  width: 100%;
  height: auto;
}

.nav {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 2;
  top: 55px;
  width: 100%;
}

.nav a {
  display: flex;
  height: 30px;
  width: 170px;
  color: white;
}

.nav input {
  display: flex;
  height: 30px;
  width: 170px;
}

.imgPlay {
  width: 20px;
}